<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Block Hidden Files" stopProcessing="true">
                    <match url="^\." />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access denied." />
                </rule>

                <rule name="Block Sensitive Files" stopProcessing="true">
                    <match url="(\.env|\.git|composer\.json|composer\.lock|artisan)$" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access denied." />
                </rule>

                <rule name="Authorization Header" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_AUTHORIZATION}" pattern="." />
                    </conditions>
                    <action type="Rewrite" url="-" appendQueryString="false" />
                    <serverVariables>
                        <set name="HTTP_AUTHORIZATION" value="{HTTP_AUTHORIZATION}" />
                    </serverVariables>
                </rule>

                <rule name="X-XSRF-Token Header" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_X_XSRF_TOKEN}" pattern="." />
                    </conditions>
                    <action type="Rewrite" url="-" appendQueryString="false" />
                    <serverVariables>
                        <set name="HTTP_X_XSRF_TOKEN" value="{HTTP_X_XSRF_TOKEN}" />
                    </serverVariables>
                </rule>

                <rule name="Remove Trailing Slash" stopProcessing="true">
                    <match url="(.+)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule>

                <rule name="Laravel Front Controller" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>

        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="." />
                </hiddenSegments>
                <fileExtensions>
                    <add allowed="false" extension=".env" />
                    <add allowed="false" extension=".git" />
                    <add allowed="false" extension=".log" />
                </fileExtensions>
            </requestFiltering>
        </security>

        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <add name="Permissions-Policy" value="geolocation=(), microphone=(), camera=()" />
            </customHeaders>
        </httpProtocol>

        <staticContent>
            <remove fileExtension=".env" />
            <remove fileExtension=".git" />
            <mimeMap fileExtension=".env" mimeType="application/octet-stream" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>

        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
